body{

background: #3cb3b5;
background:(0deg, rgba(60, 179, 181, 0.44) 0%, rgba(55, 112, 108, 1) 100%);}
h1{
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
    color: rgb(59, 39, 39);
}
input::placeholder {
  font-size: 1.2rem;
}
.container{
    font-size: 1.2rem;
}
.tarea-item {
    position: relative;
}
.list-group-item:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.tarea-delete-btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.tarea-item:hover .tarea-delete-btn {
    display: inline-block;
 }